[*.{js,ts,tsx}]
quote_type = single

[*.{js,ts,tsx,json,yml,md}]
insert_final_newline = true
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
max_line_length = 160

[*.{json,yml}]
indent_size = 2

[composer.json]
indent_size = 4

[*.md]
trim_trailing_whitespace = false